@font-face {
    font-family: "Futura-Black";
    src: url("/projet_data/public/assets/fonts/Futura Extra Black font.ttf");
   }

*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #233237;
}
.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1em 1fr 1fr 1em; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5vh; 
    grid-template-areas: 
      "header header header header"
      "espace1 sectionfilter1 sectionfilter2 espace2"
      "espace3 sectionfilter3 sectionfilter4 espace4"
      "espace5 buttonsection1 buttonsection2 espace6"
      "espace7 gamesection1 gamesection2 espace8"
      "espace9 gamesection3 gamesection4 espace10"
      "espace11 gamesection5 gamesection6 espace12"
      "footer footer footer footer"; 
}

#bg {
    margin:0;
    filter: saturate(0);
    width: 100vw;
    height: 20vh;
    margin-top: -5px;
}

.container {
    padding: 0;
    margin:0;
    width: 100vw;
    grid-area: 1/1/10/5;
}

#filter {
    background-color: #202b38c9;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
}

footer {
    font-size: 1rem;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: #202b38;
}
#footer {
    color: white;
    font-family: Futura-Black;
}
#accueil{
    grid-area: 1/2/10/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}
#accueil :nth-child(1) {
    margin-top: -10vh;
    margin-bottom: -25vh;
}
#accueil :nth-child(2) {
    margin-bottom: -30vh;
}

#btn-accueil{
    font-family: Futura-Black;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid;
    border-color: #FB8122;
    font-size: 2rem;
    padding: 7px 20px 7px 20px;
}

#btn-accueil:hover{
	color: #FB8122;
    background-color: rgb(255, 255, 255);
}

#titlegg{
    z-index: 3;
    grid-area: header;
    align-self: center;
    justify-self: center;
}

#searchzone{
    z-index: 3;
    grid-area: 2/2/3/4;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 80%;
}

#search{
    width: 76%;
    height: 32px;
    margin-right: -5px;
    border: 2px solid #FB8122;
    border-radius: 2px;
    padding-left: 5px;
}


#searchButton {
    width: 22%;
    height: 36px;
    padding: 6px;
    border: 1px solid #FB8122;
    background: #FB8122;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
  }
  #searchButtonA {
    background: #FB8122;
    border-radius: 2px;
  }
  #gametop{
    grid-area: 3/2/7/3;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 7vh 1fr 7vh 1fr; 
    grid-template-areas: 
      "imgtopleft"
      "titletopleft"
      "imgbotleft"
      "titlebotleft"; 
}

  #gamebot{
    grid-area: 3/3/7/4;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 7vh 1fr 7vh 1fr; 
    grid-template-areas: 
      "imgtoprigth"
      "titletoprigth"
      "imgbotrigth"
      "titlebotrigth";
}
  .searchimg{
     width: 100%;
     height: 7vh;
     justify-self: center;
     border-radius: 5px;
     border: 2px solid #FB8122;
  }
  .searchp{
    width: 100%;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Futura-Black;
  }

  .infos{
    color: #fff;
    font-family: Futura-Black;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  .infostitle{
    color: #FB8122;
    font-family: Futura-Black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }
  .infostitlename{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: #fff;
      padding-top: 1rem;
      text-align: justify;
      text-justify: inter-word;
  }

  form {
    width: 100vw;
  }

  #infosimg{
    width: 100%;
    border-radius: 5px;
    grid-area: 2/2/3/4;
    z-index: 3;
    width: 100%;
    height: 100%;
    border: 3px solid #FB8122;
  }

  #title{
    grid-area: 3/2/4/4;
    z-index: 3;
  }

  #categories{
    grid-area: buttonsection1;
    z-index: 3;
  }

  #developer{
    grid-area: buttonsection2;
    z-index: 3;
  }

  #userreviews{
    grid-area: gamesection1;
    z-index: 3;
  }

  #globalreviews{
    grid-area: gamesection2;
    z-index: 3;
  }

  #choosePage{
    z-index: 3;
  }

  .containerChoose{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    grid-area: 2/2/9/4;
  }
  #chooseImg{
    width: 90%;
  }

  .searchForm{
    width: 45vw;
  }

  .searchSearch{
    width: 50%;
    border: 2px solid #FB8122;
    background-color: #FB8122;
    color: #fff;
    font-family:Futura-Black ;
    border-radius: 2px;
    margin-left: 25%;
    margin-top: 7vh;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
  }
  .searchChoose{
    border: 2px solid #FB8122;
    background-color: #FB8122;
    color: #fff;
    font-family:Futura-Black;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 5px 5px 5px 5px;
  }

  .btnRandom{
    grid-area: 7/2/8/4;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #btnRandom{
    background-color:#FB8122 ;
    border-radius: 5px;
  }
  #searchButtonRdm {
    width: 100%;
    height: 36px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #FB8122;
    background: #FB8122;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    font-family:Futura-Black ;
  }

  #formChoose{
    display: flex;
    justify-content: center;
  }

  #steam{
    z-index: 3;
    grid-area: 6/2/8/4;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #steamlogo{
    margin-top: 5vh;
  }

  .infostitleSteam{
    color: #FB8122;
    font-family: Futura-Black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 5vh;
  }