<!DOCTYPE html>
<html lang="en">
    <head>
  {% block head %}{% endblock %} 
    </head>
    <body>
    <div class="wrapper">
        <div id="filter"></div>
        
                {% block input %}{% endblock %}
                <div id='gametop'>{% block contentsearch %}{% endblock %}</div>
                <div id='gamebot'>{% block contentsearch2 %}{% endblock %}</div>
                <div class='btnRandom'>{% block btnRandom %}{% endblock %}</div>
            <div class="container">{% block content %}{% endblock %}</div>
                {% block logo %}{% endblock %}
    <footer>{% block footer %}{% endblock %}</footer>
    </div>

    <script src="public/assets/js/searchBlock.js"></script>
    <script src="public/assets/js/search.js"></script>
</body>
</html>