{% extends 'layoutsearchlist.twig' %}
{% block contentlist %}
        {% for gamesearch in games %} 

        <li class="livesearch-item">
            <img src="{{gamesearch.img_url}}" id="liveSearchImg" alt="Games image" />
            <div>
                <h3 id="liveSearchName" >{{gamesearch.names | truncate(35,true,"...")}}</h3>   
            </div>
        </li>
   
        {% endfor %}
{% endblock %}