{% extends 'layoutsearch.twig' %}
{% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GAMER GATE</title>
        <link rel="shortcut icon" type="" href="public/assets/images/logo.svg">
        <link rel="stylesheet" href="public/assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
{% endblock %}

{% block content %}
    {% for game in games %}
        <img id="bg" src="{{game.img_url}}">
    {% endfor %}
{% endblock %}


{% block input %}
    <form id="searchzone" name="myform" action='choose' method='get' >
    <input type="text" id="search" name='names' placeholder="Search" value="" autocomplete="off">
    <div class="searchProp">
    </div>
    <button type="submit" id="searchButton" >
        <i class="fa fa-search"></i>
     </button>

    </form>
    
     <a href ='search' id='btnRandom'><button id="searchButtonRdm"><i class="fas fa-redo-alt"></i></button></a>
    
{% endblock %}

{% block contentsearch %}
    {% for gamesearch in gamesearchs %}
    <section>
        <div class='searchimgdiv'>
        <img class='searchimg' src="{{gamesearch.img_url}}">
        </div>
        <p class ='searchp'>{{gamesearch.names | truncate(35,true,"...")}}</p>
        <form class='searchForm' action='infos' method='get'> 
            <input type="submit" class="searchSearch" name='id' value ="{{gamesearch.id}}">
            <p class='searchSearchHover'> More Infos <i class="fas fa-chevron-circle-right"></i></p>
        </form>
    </section>
    {% endfor %}
{% endblock %}

{% block logo %}
            <a href = '/projet_data' id='titlegg' ><img id='titleggSvg'src="public/assets/images/gamersgate.svg"></a>
{% endblock %}

{% block footer %}
        <p id="footer">Copyright © - <a class="button" href="#popup2">About us</a></p>
    <div id="popup2" class="overlay light">
	<a class="cancel" href="#"></a>
	<div class="popup">
		<div class="content">
            <h2>About Us</h2>
            <img class='profil' src="public/assets/images/profil1.png">
            <p>Oscar Millot</p>
            <section class="social">
            <a class='sociala' href = 'https://github.com/OscarM-Code' target='_blank'><img  src="public/assets/images/github.svg"></a>
            <a class='sociala' href = 'https://www.linkedin.com/in/oscar-millot/' target='_blank'><img  src="public/assets/images/linkedin.svg"></a>
            </section>
            <img class='profil' src="public/assets/images/profil2.png">
            <p>Mickael Cecen</p>
            <section class="social">
            <a class='sociala' href = 'https://github.com/MickaelCe' target='_blank'><img  src="public/assets/images/github.svg"></a>
            <a class='sociala' href = 'https://www.linkedin.com/in/mickaelcecen/' target='_blank'><img  src="public/assets/images/linkedin.svg"></a>
            </section>
		</div>
	</div>
</div>
{% endblock %}